In [2]:
import numpy 
import pandas as pd
import geopandas as gpd

In [3]:
USA=gpd.read_file('EntireUSA.shp')

In [4]:
len(USA)

74141

In [5]:
addedOP = pd.read_csv('AddedOPZ.csv',encoding='Latin-1')

In [6]:
len(addedOP)

43780

In [7]:
eligible_tracts=addedOP.drop_duplicates(subset=['tract_id'])

In [8]:
len(eligible_tracts)

42160

In [9]:
eligible_tracts.replace({'tract_id':{2270000100 : 2158000100,
4019002701: 4019002704,
4019002903: 4019002906,
4019410501: 4019004118,
4019410502: 4019004121,
4019410503: 4019004125,
4019470400: 4019005200,
4019470500: 4019005300,
6037930401: 6037137000,
36053940101: 36053030101,
36053940102: 36053030102,
36053940103: 36053030103,
36053940200: 36053030200,
36053940300: 36053030300,
36053940401: 36053030401,
36053940403: 36053030403,
36053940600: 36053030600,
36053940700: 36053030402,
36065940000: 36065024800,
36065940100: 36065024700,
36065940200: 36065024900,
36085000900: 36085008900,
46113940500: 46102940500,
46113940800: 46102940800,
46113940900: 46102940900,
51515050100: 51019050100}},inplace=True)

/Users/Danierian/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6666: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regex=regex,

In [10]:
eligible_tracts.head()

  ï»¿State    tract_id  Unnamed: 2  Unnamed: 3 Unnamed: 4
0  Alabama  1001020200         NaN         NaN        NaN
1  Alabama  1001020700         NaN         NaN        NaN
2  Alabama  1001021100         NaN         NaN        NaN
3  Alabama  1003010200         NaN         NaN        NaN
4  Alabama  1003010500         NaN         NaN        NaN

In [11]:
len(eligible_tracts)

42160

In [12]:
eligible_tracts.columns

Index(['ï»¿State', 'tract_id', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [13]:
eligible_tracts=eligible_tracts.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1)

In [14]:
OPeligible=numpy.array(eligible_tracts.tract_id)

In [15]:
USA.head()

,State_name,cntyname,tract_id,ALAND,AWATER,INTPTLAT,INTPTLON,average_ho,Area_Pop,TAHSAIL_Tr,...,Poverty Ra,Poverty _1,Poverty _2,Poverty Cr,Average_Po,Either Eli,QCT_2021,Opportunit,OP_QCT,geometry
0,Alabama,Etowah County,1.055011e+09,87404337.0,2927199.0,+34.0726595,-085.8991944,2.567439,104430.0,0.615509,...,0.126,0.098,0.110,No,0.111333,NaN,No,No,0.0,"POLYGON ((-85.98699 34.04413, -85.98606 34.045..."
1,Alabama,Etowah County,1.055001e+09,5083957.0,836213.0,+34.0078782,-085.9865947,2.382900,104430.0,1.002773,...,0.322,0.329,0.380,YES,0.343667,1.0,Yes,No,2.0,"POLYGON ((-86.00068 34.00537, -86.00023 34.006..."
2,Alabama,Etowah County,1.055001e+09,11932347.0,740907.0,+34.0003469,-086.0427603,2.421402,104430.0,1.083403,...,0.361,0.296,0.195,YES,0.284000,1.0,No,No,0.0,"POLYGON ((-86.07079 34.00011, -86.07076 34.000..."
3,Alabama,Etowah County,1.055002e+09,9118882.0,0.0,+33.9825311,-085.9518384,1.973494,104430.0,1.168559,...,0.261,0.276,0.270,YES,0.269000,1.0,Yes,No,2.0,"POLYGON ((-85.96885 33.98825, -85.96884 33.988..."
4,Alabama,Etowah County,1.055011e+09,50209675.0,7198559.0,+33.8992688,-086.0295803,2.588608,104430.0,0.444574,...,0.000,0.000,0.000,No,0.000000,NaN,No,No,0.0,"POLYGON ((-86.07352 33.90549, -86.07337 33.906..."

In [16]:
making=numpy.array([])

for row in USA.values:
    if row[2] in OPeligible:
        making=numpy.append(making,1)
        continue
    else:
        making=numpy.append(making,0)

In [17]:
len(making)

74141

In [18]:
USA['OZ_eligible']=making

In [19]:
OZ=USA.loc[USA.OZ_eligible==1]

In [33]:
OZ.tail()

,State_name,cntyname,tract_id,ALAND,AWATER,INTPTLAT,INTPTLON,average_ho,Area_Pop,TAHSAIL_Tr,...,Poverty _1,Poverty _2,Poverty Cr,Average_Po,Either Eli,QCT_2021,Opportunit,OP_QCT,geometry,OZ_eligible
74131,Virgin Islands of America,None,78030961000,2105263.0,2358459.0,+18.3293485,-064.9347420,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-64.94808 18.34514, -64.94738 18.344...",1.0
74134,Virgin Islands of America,None,78010971000,36559582.0,188068.0,+17.7449513,-064.8533939,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-64.89429 17.74528, -64.89429 17.745...",1.0
74135,Virgin Islands of America,None,78010970900,6684469.0,15265.0,+17.7231634,-064.8263928,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-64.84479 17.73193, -64.83962 17.733...",1.0
74137,Virgin Islands of America,None,78010970700,15749605.0,143654.0,+17.7628712,-064.7883374,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-64.82062 17.75921, -64.81715 17.760...",1.0
74140,None,Richmond County,36085008900,NaN,NaN,None,None,0.0,19567410.0,0.0,...,0.0,0.0,No,0.0,NaN,No,No,0.0,None,1.0

In [32]:
OZ.tract_id=OZ.tract_id.astype(int)

/Users/Danierian/anaconda3/lib/python3.7/site-packages/geopandas/geodataframe.py:853: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [40]:
AM_Samoa = gpd.read_file('Opportunity_Zones-shp/tl_2019_60_tract/tl_2019_60_tract.shp')

In [42]:
CHANGE=numpy.array(AM_Samoa.GEOID)

In [43]:
USA.loc[USA.tract_id.isin(CHANGE),'State_name']='American Samoa'

In [45]:
USA.loc[USA.State_name=='American Samoa']

,State_name,cntyname,tract_id,ALAND,AWATER,INTPTLAT,INTPTLON,average_ho,Area_Pop,TAHSAIL_Tr,...,Poverty _1,Poverty _2,Poverty Cr,Average_Po,Either Eli,QCT_2021,Opportunit,OP_QCT,geometry,OZ_eligible
74000,American Samoa,None,60010950100,11872421.0,155861930.0,-14.2587411,-170.5618796,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"MULTIPOLYGON (((-170.59622 -14.27074, -170.594...",1.0
74001,American Samoa,None,60010950200,5954576.0,47875714.0,-14.2859572,-170.5589852,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.61382 -14.29668, -170.61094 -14...",1.0
74002,American Samoa,None,60010950300,17200142.0,63697222.0,-14.2760947,-170.6310985,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.67216 -14.29920, -170.67192 -14...",1.0
74003,American Samoa,None,60050951500,18709311.0,13616700.0,-14.3012741,-170.7626071,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.79456 -14.29082, -170.79455 -14...",1.0
74004,American Samoa,None,60010950500,3822832.0,3135729.0,-14.2713653,-170.6651925,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.68979 -14.26484, -170.68965 -14...",1.0
74005,American Samoa,None,60010950600,9276401.0,25260575.0,-14.2524460,-170.7010280,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.74598 -14.23376, -170.74160 -14...",1.0
74006,American Samoa,None,60010950700,4011875.0,2548738.0,-14.2854611,-170.6827675,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.70367 -14.29496, -170.70242 -14...",1.0
74007,American Samoa,None,60010950900,12986619.0,51344770.0,-14.3015512,-170.7149422,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.79422 -14.24639, -170.76626 -14...",1.0
74008,American Samoa,None,60020951800,57620993.0,464238044.0,-14.2287980,-169.4567659,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-169.72589 -14.16615, -169.72527 -14...",1.0
74009,American Samoa,None,60030951900,82093.0,147383994.0,-14.5365298,-168.1512918,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-168.22527 -14.53591, -168.22453 -14...",0.0
74010,American Samoa,None,60040952000,2432605.0,149170816.0,-11.0544359,-171.0690136,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-171.14118 -11.04661, -171.14116 -11...",0.0
74011,American Samoa,None,60050951000,5750593.0,6611.0,-14.3110667,-170.7319621,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.74678 -14.31909, -170.74424 -14...",1.0
74012,American Samoa,None,60050951300,6712094.0,27635176.0,-14.3611519,-170.7584242,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.79409 -14.39060, -170.79232 -14...",1.0
74013,American Samoa,None,60050951100,4878597.0,0.0,-14.3277371,-170.7518410,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.76289 -14.32133, -170.76230 -14...",1.0
74014,American Samoa,None,60050951201,3680015.0,19034568.0,-14.3361272,-170.7155859,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.73487 -14.32440, -170.73443 -14...",1.0
74015,American Samoa,None,60050951202,2429029.0,0.0,-14.3330735,-170.7325264,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.74362 -14.33478, -170.74358 -14...",1.0
74016,American Samoa,None,60050951600,23195677.0,104696103.0,-14.3189752,-170.8293412,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.89029 -14.31719, -170.88846 -14...",1.0
74017,American Samoa,None,60050951203,7143196.0,31737061.0,-14.3623365,-170.7415265,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-170.75629 -14.34169, -170.75593 -14...",1.0

In [46]:
USA.columns

Index(['State_name', 'cntyname', 'tract_id', 'ALAND', 'AWATER', 'INTPTLAT',
       'INTPTLON', 'average_ho', 'Area_Pop', 'TAHSAIL_Tr', 'TAHSAIL__1',
       'TAHSAIL__2', 'Average_TA', 'Income Cri', 'Poverty Ra', 'Poverty _1',
       'Poverty _2', 'Poverty Cr', 'Average_Po', 'Either Eli', 'QCT_2021',
       'Opportunit', 'OP_QCT', 'geometry', 'OZ_eligible'],
      dtype='object')

In [ ]:
'State_name', 'cntyname', 'tract_id',
       'average_household_size', 'Area_Pop', 'TAHSAIL_Tract_ratio_2016',
       'TAHSAIL_Tract_ratio_2017', 'TAHSAIL_Tract_ratio_2018',
       'Average TAHSAIL_Tract_Ratio', 'Income Criterion Eligiblity',
       'Poverty Rate_2016', 'Poverty Rate_2017', 'Poverty Rate_2018',
       'Poverty Criterion Eligiblity', 'Average Poverty Rate',
       'Either Eligible', 'QCT_2021', 'Opportunity_Zone'

In [49]:
USA.rename(columns={'average_ho':'Average_Household_Size',
                    'TAHSAIL_Tr':'TAHSAIL_Tract_ratio_2016',
                  'TAHSAIL__1':'TAHSAIL_Tract_ratio_2017',
                   'TAHSAIL__2':'TAHSAIL_Tract_ratio_2018',
                   'Average_TA':'Average TAHSAIL_Tract_Ratio',
                   'Income Cri':'Income Criterion Eligiblity',
                   'Poverty Ra':'Poverty Rate_2016',
                    'Poverty _1':'Poverty Rate_2017',
                    'Poverty _2': 'Poverty Rate_2018', 
                    'Poverty Cr':'Poverty Criterion Eligiblity', 
                    'Average_Po':'Average Poverty Rate', 
                    'Either Eli':'Either Eligible',
                   'Opportunit':'Opportunity Zone(OZ)'})

,State_name,cntyname,tract_id,ALAND,AWATER,INTPTLAT,INTPTLON,Average_Household_Size,Area_Pop,TAHSAIL_Tract_ratio_2016,...,Poverty Rate_2017,Poverty Rate_2018,Poverty Criterion Eligiblity,Average Poverty Rate,Either Eligible,QCT_2021,Opportunity Zone(OZ),OP_QCT,geometry,OZ_eligible
0,Alabama,Etowah County,1055010700,87404337.0,2927199.0,+34.0726595,-085.8991944,2.567439,104430.0,0.615509,...,0.098,0.110,No,0.111333,NaN,No,No,0.0,"POLYGON ((-85.98699 34.04413, -85.98606 34.045...",1.0
1,Alabama,Etowah County,1055001300,5083957.0,836213.0,+34.0078782,-085.9865947,2.382900,104430.0,1.002773,...,0.329,0.380,YES,0.343667,1.0,Yes,No,2.0,"POLYGON ((-86.00068 34.00537, -86.00023 34.006...",1.0
2,Alabama,Etowah County,1055000900,11932347.0,740907.0,+34.0003469,-086.0427603,2.421402,104430.0,1.083403,...,0.296,0.195,YES,0.284000,1.0,No,No,0.0,"POLYGON ((-86.07079 34.00011, -86.07076 34.000...",1.0
3,Alabama,Etowah County,1055001700,9118882.0,0.0,+33.9825311,-085.9518384,1.973494,104430.0,1.168559,...,0.276,0.270,YES,0.269000,1.0,Yes,No,2.0,"POLYGON ((-85.96885 33.98825, -85.96884 33.988...",1.0
4,Alabama,Etowah County,1055010501,50209675.0,7198559.0,+33.8992688,-086.0295803,2.588608,104430.0,0.444574,...,0.000,0.000,No,0.000000,NaN,No,No,0.0,"POLYGON ((-86.07352 33.90549, -86.07337 33.906...",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74136,Virgin Islands of America,None,78010970500,6093471.0,0.0,+17.7409158,-064.7464275,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-64.75938 17.74196, -64.75857 17.742...",0.0
74137,Virgin Islands of America,None,78010970700,15749605.0,143654.0,+17.7628712,-064.7883374,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"POLYGON ((-64.82062 17.75921, -64.81715 17.760...",1.0
74138,Virgin Islands of America,None,78010970100,28112088.0,3373332.0,+17.7495196,-064.6291392,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"MULTIPOLYGON (((-64.62840 17.78893, -64.62836 ...",0.0
74139,Virgin Islands of America,None,78010970600,13240998.0,833400.0,+17.7594095,-064.7612997,NaN,NaN,NaN,...,NaN,NaN,None,NaN,NaN,No,None,0.0,"MULTIPOLYGON (((-64.74933 17.78710, -64.74930 ...",0.0
74140,None,Richmond County,36085008900,NaN,NaN,None,None,0.000000,19567410.0,0.000000,...,0.000,0.000,No,0.000000,NaN,No,No,0.0,None,1.0

In [50]:
USA.to_file('EntireUSA.shp')

In [52]:
ELIGIBLE=USA.loc[USA.OZ_eligible==1]

In [54]:
QCT=USA.loc[USA.QCT_2021=='Yes']

In [55]:
ELIGIBLE.to_file('EligibleOpportunityZones.shp')

NOTE: NOT ALL THE QCTS ARE IN THE ELIGIBLE SHAPEFILE. DID NOT ADD THOSE BECAUSE THEY ARE NOT ELIGIBLE OZs