In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Polygon
import pandas as pd
import numpy
import os 
import folium
from folium import plugins
import earthpy as et

In [ ]:
'60', '69', '09', '66', '23', '25', '44', '78'


'PR','N_MARIANS','CT','GUAM','Maine','ma', 'vi'

In [2]:
AL = gpd.read_file('Opportunity_Zones-shp/tl_2019_01_tract/tl_2019_01_tract.shp')
AK = gpd.read_file('Opportunity_Zones-shp/tl_2019_02_tract/tl_2019_02_tract.shp')
AM_Samoa = gpd.read_file('Opportunity_Zones-shp/tl_2019_60_tract/tl_2019_60_tract.shp')
AZ = gpd.read_file('Opportunity_Zones-shp/tl_2019_04_tract/tl_2019_04_tract.shp')
AR = gpd.read_file('Opportunity_Zones-shp/tl_2019_05_tract/tl_2019_05_tract.shp')
CA = gpd.read_file('Opportunity_Zones-shp/tl_2019_06_tract/tl_2019_06_tract.shp')
CO = gpd.read_file('Opportunity_Zones-shp/tl_2019_08_tract/tl_2019_08_tract.shp')
N_MarianaIslands = gpd.read_file('Opportunity_Zones-shp/tl_2019_69_tract/tl_2019_69_tract.shp')
CT = gpd.read_file('Opportunity_Zones-shp/tl_2019_09_tract/tl_2019_09_tract.shp')
DE = gpd.read_file('Opportunity_Zones-shp/tl_2019_10_tract/tl_2019_10_tract.shp')
DC = gpd.read_file('Opportunity_Zones-shp/tl_2019_11_tract/tl_2019_11_tract.shp')
FL = gpd.read_file('Opportunity_Zones-shp/tl_2019_12_tract/tl_2019_12_tract.shp')
GA = gpd.read_file('Opportunity_Zones-shp/tl_2019_13_tract/tl_2019_13_tract.shp')
GUAM = gpd.read_file('Opportunity_Zones-shp/tl_2019_66_tract/tl_2019_66_tract.shp')
HI = gpd.read_file('Opportunity_Zones-shp/tl_2019_15_tract/tl_2019_15_tract.shp')
ID = gpd.read_file('Opportunity_Zones-shp/tl_2019_16_tract/tl_2019_16_tract.shp')
IL = gpd.read_file('Opportunity_Zones-shp/tl_2019_17_tract/tl_2019_17_tract.shp')
IN = gpd.read_file('Opportunity_Zones-shp/tl_2019_18_tract/tl_2019_18_tract.shp')
IA = gpd.read_file('Opportunity_Zones-shp/tl_2019_19_tract/tl_2019_19_tract.shp')
KS = gpd.read_file('Opportunity_Zones-shp/tl_2019_20_tract/tl_2019_20_tract.shp')
KY = gpd.read_file('Opportunity_Zones-shp/tl_2019_21_tract/tl_2019_21_tract.shp')
LA = gpd.read_file('Opportunity_Zones-shp/tl_2019_22_tract/tl_2019_22_tract.shp')
ME = gpd.read_file('Opportunity_Zones-shp/tl_2019_23_tract/tl_2019_23_tract.shp')
MD = gpd.read_file('Opportunity_Zones-shp/tl_2019_24_tract/tl_2019_24_tract.shp')
MA = gpd.read_file('Opportunity_Zones-shp/tl_2019_25_tract/tl_2019_25_tract.shp')
MI = gpd.read_file('Opportunity_Zones-shp/tl_2019_26_tract/tl_2019_26_tract.shp')
MN = gpd.read_file('Opportunity_Zones-shp/tl_2019_27_tract/tl_2019_27_tract.shp')
MS = gpd.read_file('Opportunity_Zones-shp/tl_2019_28_tract/tl_2019_28_tract.shp')
MO = gpd.read_file('Opportunity_Zones-shp/tl_2019_29_tract/tl_2019_29_tract.shp')
MT = gpd.read_file('Opportunity_Zones-shp/tl_2019_30_tract/tl_2019_30_tract.shp')
NE = gpd.read_file('Opportunity_Zones-shp/tl_2019_31_tract/tl_2019_31_tract.shp')
NV = gpd.read_file('Opportunity_Zones-shp/tl_2019_32_tract/tl_2019_32_tract.shp')
NH = gpd.read_file('Opportunity_Zones-shp/tl_2019_33_tract/tl_2019_33_tract.shp')
NJ = gpd.read_file('Opportunity_Zones-shp/tl_2019_34_tract/tl_2019_34_tract.shp')
NM = gpd.read_file('Opportunity_Zones-shp/tl_2019_35_tract/tl_2019_35_tract.shp')
NY = gpd.read_file('Opportunity_Zones-shp/tl_2019_36_tract/tl_2019_36_tract.shp')
NC = gpd.read_file('Opportunity_Zones-shp/tl_2019_37_tract/tl_2019_37_tract.shp')
ND = gpd.read_file('Opportunity_Zones-shp/tl_2019_38_tract/tl_2019_38_tract.shp')
OH = gpd.read_file('Opportunity_Zones-shp/tl_2019_39_tract/tl_2019_39_tract.shp')
OK = gpd.read_file('Opportunity_Zones-shp/tl_2019_40_tract/tl_2019_40_tract.shp')
OR = gpd.read_file('Opportunity_Zones-shp/tl_2019_41_tract/tl_2019_41_tract.shp')
PA = gpd.read_file('Opportunity_Zones-shp/tl_2019_42_tract/tl_2019_42_tract.shp')

PR = gpd.read_file('Opportunity_Zones-shp/tl_2019_72_tract/tl_2019_72_tract.shp')

RI = gpd.read_file('Opportunity_Zones-shp/tl_2019_44_tract/tl_2019_44_tract.shp')
SC = gpd.read_file('Opportunity_Zones-shp/tl_2019_45_tract/tl_2019_45_tract.shp')
SD = gpd.read_file('Opportunity_Zones-shp/tl_2019_46_tract/tl_2019_46_tract.shp')
TN = gpd.read_file('Opportunity_Zones-shp/tl_2019_47_tract/tl_2019_47_tract.shp')
TX = gpd.read_file('Opportunity_Zones-shp/tl_2019_48_tract/tl_2019_48_tract.shp')
UT = gpd.read_file('Opportunity_Zones-shp/tl_2019_49_tract/tl_2019_49_tract.shp')
VT = gpd.read_file('Opportunity_Zones-shp/tl_2019_50_tract/tl_2019_50_tract.shp')
VI = gpd.read_file('Opportunity_Zones-shp/tl_2019_78_tract/tl_2019_78_tract.shp')
VA = gpd.read_file('Opportunity_Zones-shp/tl_2019_51_tract/tl_2019_51_tract.shp')
WA = gpd.read_file('Opportunity_Zones-shp/tl_2019_53_tract/tl_2019_53_tract.shp')
WV = gpd.read_file('Opportunity_Zones-shp/tl_2019_54_tract/tl_2019_54_tract.shp')
WI = gpd.read_file('Opportunity_Zones-shp/tl_2019_55_tract/tl_2019_55_tract.shp')
WY = gpd.read_file('Opportunity_Zones-shp/tl_2019_56_tract/tl_2019_56_tract.shp')

In [3]:
STATES = AL.append([ AK ,PR, AM_Samoa  ,  AZ  ,  AR  ,  CA  ,  CO  , N_MarianaIslands  , CT  ,  DE  ,  DC  ,  FL  ,  GA  ,  GUAM  , HI, ID  ,  IL  ,  IN  ,  IA  ,  KS  ,  KY  ,  LA  ,  ME  ,MI,  MD  ,  MA  ,  MN  ,  MS  ,  MO  ,  MT  ,  NE  , NV  ,  NH  , NJ  ,  NM  ,  NY  ,  NC  ,  ND  ,  OH  ,  OK  ,  OR  , PA,RI,SC,SD,TN,TX,UT,VT,VI,VA,WA,WV,WY,WI ])

In [4]:
STATES.GEOID=STATES.GEOID.astype('int64')

In [5]:
len(STATES)

74133

In [38]:
len(AM_Samoa)

18

In [6]:
STATES.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,01,055,010700,1055010700,107,Census Tract 107,G5020,S,87404337,2927199,+34.0726595,-085.8991944,"POLYGON ((-85.98699 34.04413, -85.98606 34.045..."
1,01,055,001300,1055001300,13,Census Tract 13,G5020,S,5083957,836213,+34.0078782,-085.9865947,"POLYGON ((-86.00068 34.00537, -86.00023 34.006..."
2,01,055,000900,1055000900,9,Census Tract 9,G5020,S,11932347,740907,+34.0003469,-086.0427603,"POLYGON ((-86.07079 34.00011, -86.07076 34.000..."
3,01,055,001700,1055001700,17,Census Tract 17,G5020,S,9118882,0,+33.9825311,-085.9518384,"POLYGON ((-85.96885 33.98825, -85.96884 33.988..."
4,01,055,010501,1055010501,105.01,Census Tract 105.01,G5020,S,50209675,7198559,+33.8992688,-086.0295803,"POLYGON ((-86.07352 33.90549, -86.07337 33.906..."

In [10]:
GOT2 = numpy.array(QCT.tract_id)

In [13]:
GOT = numpy.array(OPzone_data.tract_id)

In [9]:
QCT= pd.read_csv('QCTsnippeted.csv',encoding = 'Latin-1')

In [ ]:
QCT.head()

In [48]:
QCT.columns

Index(['Unnamed: 0', 'State_name', 'cntyname', 'tract_id',
       'average_household_size', 'Area_Pop', 'TAHSAIL_Tract_ratio_2016',
       'TAHSAIL_Tract_ratio_2017', 'TAHSAIL_Tract_ratio_2018',
       'Average TAHSAIL_Tract_Ratio', 'Income Criterion Eligiblity',
       'Poverty Rate_2016', 'Poverty Rate_2017', 'Poverty Rate_2018',
       'Poverty Criterion Eligiblity', 'Average Poverty Rate',
       'Either Eligible', 'QCT_2021', 'Opportunity_Zone'],
      dtype='object')

In [ ]:
len(QCT)

In [12]:
OPzone_data= pd.merge(STATES,QCT,left_on = 'GEOID',right_on='tract_id')

In [14]:
len(OPzone_data)

74000

Figuring out which tracts are in STATES but not found in QCT. Appended to the end.

In [15]:
missing = numpy.array([])
for row in STATES.values:
    if row[3] not in GOT:
        missing = numpy.append(missing,row[3])

In [16]:
len(missing)

140

In [17]:
MSS=STATES.loc[STATES.GEOID.isin(missing)]

In [18]:
len(missing)

140

In [19]:
MSS.STATEFP.unique()

array(['60', '69', '09', '66', '23', '25', '44', '78'], dtype=object)

In [20]:
OPzone_data=OPzone_data.append(MSS)

In [21]:
added = numpy.array(MSS.GEOID)

In [22]:
len(added)

140

In [23]:
len(OPzone_data)

74140

Now checking to see which QCTs are missing from the current OPzone_data. There are 946 missing , 945 are PR.

In [24]:
missing = numpy.array([])
for row in QCT.values:
    if row[3] not in GOT:
        missing = numpy.append(missing,row[3])

In [25]:
len(missing)

1

In [26]:
AQE = QCT.loc[QCT.tract_id.isin(missing)]

In [27]:
len(missing)

1

In [28]:
AQE.State_name.unique()

array([nan], dtype=object)

In [29]:
OPzone_data=OPzone_data.append(AQE)

Moving ON..

In [30]:
peak = OPzone_data.loc[OPzone_data.GEOID.isin(added)]

In [31]:
peak=peak[['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME','State_name', 'cntyname', 'tract_id',
       'average_household_size', 'Area_Pop', 'TAHSAIL_Tract_ratio_2016',
       'TAHSAIL_Tract_ratio_2017', 'TAHSAIL_Tract_ratio_2018',
       'Average TAHSAIL_Tract_Ratio','Average Poverty Rate',
       'Either Eligible', 'QCT_2021', 'Opportunity_Zone']]

In [32]:
peak.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,State_name,cntyname,tract_id,average_household_size,Area_Pop,TAHSAIL_Tract_ratio_2016,TAHSAIL_Tract_ratio_2017,TAHSAIL_Tract_ratio_2018,Average TAHSAIL_Tract_Ratio,Average Poverty Rate,Either Eligible,QCT_2021,Opportunity_Zone
0,60,010,950100,6.001095e+10,9501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60,010,950200,6.001095e+10,9502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,60,010,950300,6.001095e+10,9503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,60,050,951500,6.005095e+10,9515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60,010,950500,6.001095e+10,9505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
peak.loc[peak.STATEFP=='60']

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,State_name,cntyname,tract_id,average_household_size,Area_Pop,TAHSAIL_Tract_ratio_2016,TAHSAIL_Tract_ratio_2017,TAHSAIL_Tract_ratio_2018,Average TAHSAIL_Tract_Ratio,Average Poverty Rate,Either Eligible,QCT_2021,Opportunity_Zone
0,60,010,950100,6.001095e+10,9501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60,010,950200,6.001095e+10,9502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,60,010,950300,6.001095e+10,9503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,60,050,951500,6.005095e+10,9515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60,010,950500,6.001095e+10,9505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,60,010,950600,6.001095e+10,9506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,60,010,950700,6.001095e+10,9507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,60,010,950900,6.001095e+10,9509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,60,020,951800,6.002095e+10,9518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,60,030,951900,6.003095e+10,9519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,60,040,952000,6.004095e+10,9520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,60,050,951000,6.005095e+10,9510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,60,050,951300,6.005095e+10,9513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,60,050,951100,6.005095e+10,9511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,60,050,951201,6.005095e+10,9512.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,60,050,951202,6.005095e+10,9512.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,60,050,951600,6.005095e+10,9516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,60,050,951203,6.005095e+10,9512.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Adding in state names to data

In [ ]:
'60', '69', '09', '66', '23', '25', '44', '78'


'americansamoa','N_MARIANS','CT','GUAM','Maine','ma', 'vi'

In [39]:
OPzone_data.loc[OPzone_data.STATEFP=='60','State_name']='American Samoa'
OPzone_data.loc[OPzone_data.STATEFP=='69','State_name']='Northern Mariana Islands'
OPzone_data.loc[OPzone_data.STATEFP=='09','State_name']='Connecticut'
OPzone_data.loc[OPzone_data.STATEFP=='66','State_name']='Guam'
OPzone_data.loc[OPzone_data.STATEFP=='23','State_name']='Maine'
OPzone_data.loc[OPzone_data.STATEFP=='25','State_name']='Massachusetts'
OPzone_data.loc[OPzone_data.STATEFP=='44','State_name']='Rhode Island'
OPzone_data.loc[OPzone_data.STATEFP=='78','State_name']='Virgin Islands of America'
OPzone_data.loc[OPzone_data.STATEFP=='72','State_name']='Puerto Rico'

In [40]:
len(OPzone_data)

74141

Data additions finished. Now adding OP_QCT zone qualification

In [41]:
OPzone_data.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,Average TAHSAIL_Tract_Ratio,Income Criterion Eligiblity,Poverty Rate_2016,Poverty Rate_2017,Poverty Rate_2018,Poverty Criterion Eligiblity,Average Poverty Rate,Either Eligible,QCT_2021,Opportunity_Zone
0,01,055,010700,1.055011e+09,107,Census Tract 107,G5020,S,87404337.0,2927199.0,...,0.621031,No,0.126,0.098,0.110,No,0.111333,NaN,NaN,0.0
1,01,055,001300,1.055001e+09,13,Census Tract 13,G5020,S,5083957.0,836213.0,...,0.973617,No,0.322,0.329,0.380,YES,0.343667,1.0,1.0,0.0
2,01,055,000900,1.055001e+09,9,Census Tract 9,G5020,S,11932347.0,740907.0,...,1.011215,No,0.361,0.296,0.195,YES,0.284000,1.0,NaN,0.0
3,01,055,001700,1.055002e+09,17,Census Tract 17,G5020,S,9118882.0,0.0,...,1.154914,YES,0.261,0.276,0.270,YES,0.269000,1.0,1.0,0.0
4,01,055,010501,1.055011e+09,105.01,Census Tract 105.01,G5020,S,50209675.0,7198559.0,...,0.435589,No,0.000,0.000,0.000,No,0.000000,NaN,NaN,0.0

In [42]:
mhmm = numpy.array([])
for row in OPzone_data.values:
    if row[-1]==1 and row[-2]==1:
        mhmm=numpy.append(mhmm,3)
        continue
    if row[-1]==1:
        mhmm=numpy.append(mhmm,1)
        continue
    if row[-2]==1:
        mhmm=numpy.append(mhmm,2)
        continue
    else:
        mhmm=numpy.append(mhmm,0)
    
        
OPzone_data['OP_QCT']=mhmm

In [43]:
OPzone_data.replace({'Opportunity_Zone':{1:'Yes',0:'No'}},inplace=True)
OPzone_data.replace({'QCT_2021':{1:'Yes',numpy.nan:'No'}},inplace=True)
OPzone_data =OPzone_data.rename(columns={'Average TAHSAIL_Tract_Ratio':'Average_TAHSAIL_Tract_Ratio','Average Poverty Rate':'Average_Poverty_Rate'})

In [44]:
OPzone_data.tract_id.fillna(OPzone_data.GEOID,inplace=True)

In [45]:
OPzone_data=OPzone_data[[
       'State_name', 'cntyname', 'tract_id','ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry'
       ,'average_household_size', 'Area_Pop', 'TAHSAIL_Tract_ratio_2016',
       'TAHSAIL_Tract_ratio_2017', 'TAHSAIL_Tract_ratio_2018',
       'Average_TAHSAIL_Tract_Ratio', 'Income Criterion Eligiblity',
       'Poverty Rate_2016', 'Poverty Rate_2017', 'Poverty Rate_2018',
       'Poverty Criterion Eligiblity', 'Average_Poverty_Rate',
       'Either Eligible', 'QCT_2021', 'Opportunity_Zone', 'OP_QCT']]

In [46]:
OPzone_data.head()

,State_name,cntyname,tract_id,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,average_household_size,Area_Pop,...,Income Criterion Eligiblity,Poverty Rate_2016,Poverty Rate_2017,Poverty Rate_2018,Poverty Criterion Eligiblity,Average_Poverty_Rate,Either Eligible,QCT_2021,Opportunity_Zone,OP_QCT
0,Alabama,Etowah County,1.055011e+09,87404337.0,2927199.0,+34.0726595,-085.8991944,"POLYGON ((-85.98699 34.04413, -85.98606 34.045...",2.567439,104430.0,...,No,0.126,0.098,0.110,No,0.111333,NaN,No,No,0.0
1,Alabama,Etowah County,1.055001e+09,5083957.0,836213.0,+34.0078782,-085.9865947,"POLYGON ((-86.00068 34.00537, -86.00023 34.006...",2.382900,104430.0,...,No,0.322,0.329,0.380,YES,0.343667,1.0,Yes,No,2.0
2,Alabama,Etowah County,1.055001e+09,11932347.0,740907.0,+34.0003469,-086.0427603,"POLYGON ((-86.07079 34.00011, -86.07076 34.000...",2.421402,104430.0,...,No,0.361,0.296,0.195,YES,0.284000,1.0,No,No,0.0
3,Alabama,Etowah County,1.055002e+09,9118882.0,0.0,+33.9825311,-085.9518384,"POLYGON ((-85.96885 33.98825, -85.96884 33.988...",1.973494,104430.0,...,YES,0.261,0.276,0.270,YES,0.269000,1.0,Yes,No,2.0
4,Alabama,Etowah County,1.055011e+09,50209675.0,7198559.0,+33.8992688,-086.0295803,"POLYGON ((-86.07352 33.90549, -86.07337 33.906...",2.588608,104430.0,...,No,0.000,0.000,0.000,No,0.000000,NaN,No,No,0.0

In [47]:
OPzone_data.to_file('EntireUSA.shp')

Shapefile Made

In [14]:
FINAL=OPzone_data.loc[OPzone_data.OP_QCT!=0]

In [10]:
OPZ=OPzone_data.loc[OPzone_data.OP_QCT==1]

In [11]:
QCT32=OPzone_data.loc[OPzone_data.OP_QCT==2]

In [12]:
BOTH=OPzone_data.loc[OPzone_data.OP_QCT==3]

In [16]:
FINAL.to_file('OP_QCT_830.geojson', driver='GeoJSON')

In [13]:
OPZ.to_file('OPZ.geojson', driver='GeoJSON')

In [41]:
BOTH.to_file('BOTH.shp')
QCT32.to_file('QCT32.shp')
OPZ.to_file('OPZ.shp')

In [36]:
FINAL.to_file('OP_QCT.shp')

In [ ]:
gdf.plot(figsize=(100,100))

In [ ]:
import json
from bokeh.io import show
from bokeh.models import (CDSView, ColorBar, ColumnDataSource,
                          CustomJS, CustomJSFilter, 
                          GeoJSONDataSource, HoverTool,
                          LinearColorMapper, Slider,Legend,LegendItem)
from bokeh.layouts import column, row, widgetbox
from bokeh.palettes import brewer
from bokeh.plotting import figure

In [ ]:
# Input GeoJSON source that contains features for plotting
geosource = GeoJSONDataSource(geojson = gdf.to_json())
# Define color palettes
palette = brewer['Set2'][8]
palette = palette[::-1] # reverse order of colors so higher values have darker colors

# Instantiate LinearColorMapper that linearly maps numbers in a range, into a sequence of colors.
color_mapper = LinearColorMapper(palette = palette, low = 0, high = 3)

# Create color bar.
color_bar = ColorBar(color_mapper = color_mapper, 
                     label_standoff = 8,
                     width = 500, height = 20,
                     border_line_color = None,
                     location = (0,0), 
                     orientation = 'horizontal')

p = figure(title = 'QCT and Opportunity Zones 2020', 
           plot_height = 600, plot_width = 950, 
           toolbar_location = 'below',
           tools = 'pan, wheel_zoom, box_zoom, reset')
p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None

# Add patch renderer to figure.
states = p.patches('xs','ys', source = geosource,
                   fill_color = {'field' :'OP_QCT',
                                 'transform' : color_mapper},
                   line_color = 'gray', 
                   line_width = 0.25, 
                   fill_alpha = 1)
# Create hover tool
p.add_tools(HoverTool(renderers = [states],
                      tooltips = [('State ','@State_name'),
                                  ('County ','@cntyname'),
                                  ('Tract_id ','@tract_id'),
                                  ('Average TAHSAIL Ratio','@Average_TAHSAIL_Tract_Ratio'),
                                  ('Average Poverty Rate','@Average_Poverty_Rate'),
                                ('QCT','@QCT_2021'),('Opportunity Zone','@Opportunity_Zone')]))


legend = Legend(items=[
    LegendItem(label="Opportunity Zone", renderers=[states], index=5),
    LegendItem(label="QCT", renderers=[states], index=1),
    LegendItem(label="Both", renderers=[states], index=4)
])
p.add_layout(legend)

show(p)

In [ ]:
len(OPzone_data)